.nav-bar {
            background-color: #D3D3D3;
            padding: 10px;
        }

    

        .nav-bar li {
            display: inline;
            margin-right: 1rem;
			list-style: none;
        }